/* Coolors Exported Palette - https://coolors.co/315c2b-60712f-fdca40-f79824-f86624 */

/* CSS HEX */
--hunter-green: #315c2bff;
--dark-olive-green: #60712fff;
--sunglow: #fdca40ff;
--yellow-orange-color-wheel: #f79824ff;
--orange-red: #f86624ff;

/* CSS HSL */
--hunter-green: hsla(113, 36%, 26%, 1);
--dark-olive-green: hsla(75, 41%, 31%, 1);
--sunglow: hsla(44, 98%, 62%, 1);
--yellow-orange-color-wheel: hsla(33, 93%, 55%, 1);
--orange-red: hsla(19, 94%, 56%, 1);

/* SCSS HEX */
$hunter-green: #315c2bff;
$dark-olive-green: #60712fff;
$sunglow: #fdca40ff;
$yellow-orange-color-wheel: #f79824ff;
$orange-red: #f86624ff;

/* SCSS HSL */
$hunter-green: hsla(113, 36%, 26%, 1);
$dark-olive-green: hsla(75, 41%, 31%, 1);
$sunglow: hsla(44, 98%, 62%, 1);
$yellow-orange-color-wheel: hsla(33, 93%, 55%, 1);
$orange-red: hsla(19, 94%, 56%, 1);

/* SCSS RGB */
$hunter-green: rgba(49, 92, 43, 1);
$dark-olive-green: rgba(96, 113, 47, 1);
$sunglow: rgba(253, 202, 64, 1);
$yellow-orange-color-wheel: rgba(247, 152, 36, 1);
$orange-red: rgba(248, 102, 36, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #315c2bff, #60712fff, #fdca40ff, #f79824ff, #f86624ff);
$gradient-right: linear-gradient(90deg, #315c2bff, #60712fff, #fdca40ff, #f79824ff, #f86624ff);
$gradient-bottom: linear-gradient(180deg, #315c2bff, #60712fff, #fdca40ff, #f79824ff, #f86624ff);
$gradient-left: linear-gradient(270deg, #315c2bff, #60712fff, #fdca40ff, #f79824ff, #f86624ff);
$gradient-top-right: linear-gradient(45deg, #315c2bff, #60712fff, #fdca40ff, #f79824ff, #f86624ff);
$gradient-bottom-right: linear-gradient(135deg, #315c2bff, #60712fff, #fdca40ff, #f79824ff, #f86624ff);
$gradient-top-left: linear-gradient(225deg, #315c2bff, #60712fff, #fdca40ff, #f79824ff, #f86624ff);
$gradient-bottom-left: linear-gradient(315deg, #315c2bff, #60712fff, #fdca40ff, #f79824ff, #f86624ff);
$gradient-radial: radial-gradient(#315c2bff, #60712fff, #fdca40ff, #f79824ff, #f86624ff);